<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_home.css')}}">
    <!-- -----LINK WITH CSS FILE----- -->

    <title>City View</title>
</head>

<body>

    <!-- -----NAV BAR----- -->
    <div class="nav">
        <h1>COMMUNITY <span>ON-AIR</span></h1>
        {%for city in cities%}
        <h1><a href="/{{city.city_name}}/{{city.id}}">{{city.name}}</a></h1>
        {%endfor%}
        <div class="top_right">
            <p class="user_name">Welcome, {{user.name}}</p>
            {% for user in users %}
            <p>Welcome {{user.name}}</p>
            {%endfor%}
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>|
                <li><a href="/city">Find your city</a></li>|
                <li><a href="/create">Report</a></li>|
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- -----NAV BAR----- -->

    <!-- DISPLAY ALL CITIES -->
    <div class="all_cities_top">
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2022/12/28/06/33/francisco-7682269_1280.jpg" class="cities_images">
            <a href="/city/1" class="city_name">San Francisco</a>
        </div>
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2016/11/02/10/04/chicago-1791002_1280.jpg" class="cities_images">
            <a href="/city/2" class="city_name">Chicago</a>
        </div>
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2020/06/08/20/58/nyc-5276112_1280.jpg" class="cities_images">
            <a href="/city/3" class="city_name">New York</a>
        </div>
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2017/05/08/07/56/skyline-2294676_1280.jpg" class="cities_images">
            <a href="/city/4" class="city_name">Austin</a>
        </div>
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2021/02/05/18/22/city-5985491_1280.jpg" class="cities_images">
            <a href="/city/5" class="city_name">Seattle</a>
        </div>
    </div>
    <div class="all_cities_bottom">
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2014/12/15/14/01/house-569115_1280.jpg" class="cities_images">
            <a href="/city/6" class="city_name">Boston</a>
        </div>
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2018/03/15/05/35/water-3227164_1280.jpg" class="cities_images">
            <a href="/city/7" class="city_name">Miami</a>
        </div>
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2017/05/31/20/52/detroit-2361585_1280.jpg" class="cities_images">
            <a href="/city/8" class="city_name">Detroit</a>
        </div>
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2016/08/16/17/32/hollywood-sign-1598473_1280.jpg" class="cities_images">
            <a href="/city/9" class="city_name">Los Angeles</a>
        </div>
        <div class="each_city">
            <img src="https://cdn.pixabay.com/photo/2015/09/11/21/03/city-936398_1280.jpg" class="cities_images">
            <a href="/city/10" class="city_name">Nashville</a>
        </div>
    </div>
    <!-- DISPLAY ALL CITIES -->
</body>

</html>