<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_home.css')}}">
    <!-- -----LINK WITH CSS FILE----- -->
    
    <title>Display</title>
</head>
<body>

    <div class="nav">
    <h1>TEST HEAD</h1>        
        {%for city in cities%}
        <h1><a href="/{{city.name}}/{{city.id}}">{{city.name}}</a></h1>
        {%endfor%}
        <div class="top_right">
            <p class="test_user_name">TEST USER NAME</p>            
            {% for user in users %}
            <p>Welcome {{user.name}}</p>
            {%endfor%}
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/city">Find your city</a></li>
                <li><a href="/report">Report</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    {{cities.name}}
    {% for report in cities.reports %}
        <p>{{report.what}} <a href="/{{cities.name}}/{{cities.id}}/show/{{report.id}}">View</a></p>
        {%if report.user_id == session.id%}
            <P><a href="/delete/{{report.id}}">Delete</a></P>
            <P><a href="/Edit/{{cities.name}}/{{report.id}}">Edit</a></P>
        {%endif%}
    {%endfor%}


</body>
</html>

