<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_create_and_update_.css')}}">
    <!-- -----LINK WITH CSS FILE----- -->
    
    <title>Create</title>
</head>
<body>
    <!-- -----NAV BAR----- -->
    <div class="nav">
        <h1>COMMUNITY <span>ON-AIR</span></h1>       
        
        <div class="top_right">
            <p class="user_name">Welcome, {{user.name}}</p>
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>|
                <li><a href="/city">Find your city</a></li>|
                <li><a href="/create">Report</a></li>|
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- -----NAV BAR----- -->

    <!-- -----FLASH MESSAGES ALERT----- -->
    <div class="alert">
        {% with messages = get_flashed_messages(category_filter=['report']) %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="alert">
        {% with messages = get_flashed_messages(category_filter=['location']) %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- -----FLASH MESSAGES ALERT----- -->   
     
    <!-- -----CREATE A REPORT----- -->
    <div class="bottom_section">
        <div class="form_container">
            <form action="/create/process" method="post" class="form" enctype="multipart/form-data">
                <h2 class="head_text">Report</h2>
                <div class="form_group">
                    <label for="city_id"><strong>City:</strong></label>
                    <select name="city_id" id="city_id">
                        {% for city in cities %}
                        <option value="{{city.id}}">{{city.city_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form_group">
                    <label for="what_happened"><strong>What happened:</strong></label>
                    <textarea name="what_happened" id="what_happened" rows="7" cols="32"></textarea>
                </div>
                <div class="form_group">
                    <label for="location"><strong>Location:</strong></label>
                    <input type="text" name="location" id="location" size="33">
                </div>
                <div class="form_group">
                    <label for="image"><strong>Image:</strong></label>
                    <input type="file" name="image" id="image" accept="image/*">
                </div>
                <div class="two_buttons">
                    <a href="/city" class="cancel_button">Cancel</a>
                    <input type="submit" value="Create" class="create_button">                
                </div>
            </form>                
        </div>
    </div>
    <!-- -----CREATE A REPORT----- -->
</body>
</html>