<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_show_each_city.css')}}">
    <!-- -----LINK WITH CSS FILE----- -->
    
    <title>Show</title>
</head>
<body>
    
    <!-- -----NAV BAR----- -->
    <div class="nav">
        <h1>COMMUNITY <span>ON-AIR</span></h1>       
        {%for city in cities%}
        <h1><a href="/{{city.city_name}}/{{city.id}}">{{city.name}}</a></h1>
        {%endfor%}
        <div class="top_right">
            <p class="user_name">Welcome, {{user.name}}</p>           
            {% for user in users %}
            <p>Welcome {{user.name}}</p>
            {%endfor%}
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>|
                <li><a href="/city">Find your city</a></li>|
                <li><a href="/create">Report</a></li>|
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- -----NAV BAR----- -->

    <!-- Report Page to show all information about the report and provide updates -->
    <!-- <img src="/static/img/uploads/{{report.image}}" alt="{{report.image}}"> -->

    <!-- -----SHOW EACH REPORT DETAILS----- -->
    <div class="bottom_section">        
        <div clas="city">
            <h1 class="show_head_city_name">{{report.city_name}}</h1>
            <p class="show_reporter">Posted By: {{report.name}}</p>            
            <div class="show_report">
                <div class="show_each_report">
                    <img src="/static/img/uploads/{{report.image}}" alt="{{report.image}}"  class="show_cities_images">
                    <a href="/update/create/{{report.id}}/{{session['user_id']}}/{{report.cities_id}}" class="updatehere_button">Update here!</a>
                </div>
                <div class="show_each_report">
                    <p><strong>What happened:</strong></p>
                    <p>{{report.what_happened}}</p>
                    <p><strong>Location:</strong></p>
                    <p>{{report.location}}</p>
                    <p><strong>When:</strong></p>
                    <p>{{report['cities.created_at']}}</p>
                </div>

                <!-- -----SHOW ALL 3 BUTTONS (VIEW, EDIT, AND DELETE) IF THE REPORT POSTED BY LOGGED-IN USER ----- -->
                <div class="show_each_report">
                    {% if session['user_id'] == report.users_id %}
                    <a href="/edit/{{report.id}}" class="edit_button">Edit</a>
                    <a href="/delete/{{report.id}}" class="delete_button">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- -----SHOW EACH REPORT DETAILS----- -->

    <!-- -----SHOW EACH COMMENTS----- -->
    <div class="comments">
        {%for update in updates%}
            <div class="comment_container">
                <div class="each_comment">

                    <div class="comment_details">

                        <p class="commenter">By: {{update.users_name}}</p>
                        <p><strong>Update: </strong></p>
                        <p>{{update.details}}</p>
                        <p><strong>When: </strong></p>
                        <p>{{update.created_at}}</p>
                    </div>

                    <div class="comment_details">
                        {% if session['user_id'] == update.users_id %}
                        <a href="/edit/comment/{{update.id}}/{{report.id}}/{{city.id}}" class="edit_button">Edit</a>
                        <a href="/delete/comment/{{update.id}}/{{report.id}}/{{city.id}}" class="delete_button">Delete</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        {%endfor%}
    </div>
    
    <!-- -----SHOW EACH COMMENTS----- -->
</body>
</html>