<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_create_and_update_.css')}}">
    <!-- -----LINK WITH CSS FILE----- -->
    
    <title>Update</title>
</head>
<body>

    <div class="nav">
        <h1>COMMUNITY <span>ON-AIR</span></h1>        
        <div class="top_right">
            <p class="user_name">Welcome, {{user.name}}</p>         
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>|
                <li><a href="/city">Find your city</a></li>|
                <li><a href="/create">Report</a></li>|
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="bottom_section">
        <h1>{{report.city_name}}</span></h1>       
        <p>{{report.what_happened}}</p>
        <p>POSTED BY: {{report.name}}</p>        
        <div class="form_update_container">
            <form action="/create/update/process" method="post" class="form">
                <h2 class="head_text">Update the situation</h2>
                <div class="form_group">
                    <label for="details"><strong>Update details:</strong></label>
                    <textarea name="details" id="details" rows="5" cols="45"></textarea>
                </div>
                <div class="form_group">
                <div class="form_group">
                    <input type="hidden" id="report_id" name="report_id" value="{{report.id}}">
                    <input type="hidden" id="users_id" name="users_id" value="{{session.user_id}}">
                </div>                </div>
                <div class="two_buttons">
                    <a href="/home" class="cancel_button">Cancel</a>
                    <input type="submit" value="Submit" class="submit_button">
                </div>
            </form>                   
        </div>
    </div>

</body>
</html>