<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_create_and_update_.css')}}">
    <!-- -----LINK WITH CSS FILE----- -->
    
    <title>Update</title>
</head>
<body>
    
    <!-- -----NAV BAR----- -->
    <div class="nav">
        <h1>COMMUNITY <span>ON-AIR</span></h1>        
        <div class="top_right">
            <p class="user_name">Welcome, {{user.name}}</p>         
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>|
                <li><a href="/city">Find your city</a></li>|
                <li><a href="/create">Report</a></li>|
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- -----NAV BAR----- -->

    <!-- -----FLASH MESSAGES ALERT----- -->
    <div class="alert">
        {% with messages = get_flashed_messages(category_filter=['update']) %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- -----FLASH MESSAGES ALERT----- -->  

    <!-- UPDATE (COMMENT) -->
    <div class="bottom_section">
        <h1>{{report.city_name}}</span></h1>       
        <p class="report_details">{{report.what_happened}}</p>
        <p class="commenter">Posted by: {{report.name}}</p>        
        <div class="form_update_container">
            <form action="/update/create/{{report.id}}/{{user.id}}/{{city.id}}" method="post" class="form">
                <h2 class="head_text">Update the situation</h2>
                <div class="form_group">
                    <label for="details"><strong>Update details:</strong></label>
                    <textarea name="details" rows="5" cols="45"></textarea>
                </div>
                <div class="form_group">
                    <input type="hidden" name="report_id" value={{report.id}}>
                    <input type="hidden" name="users_id" value={{session.user_id}}>
                    <input type="hidden" name="city_id" value={{city.id}}>
                </div>             
                <div class="two_buttons">
                    <a href="/city/show/{{report.id}}/{{city.id}}" class="cancel_button">Cancel</a>
                    <input type="submit" value="Submit" class="submit_button">
                </div>
            </form>                   
        </div>
    </div>
    <!-- UPDATE (COMMENT) -->
</body>
</html>