<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -----LINK WITH CSS FILE----- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_create_and_update_.css')}}">
    <!-- -----LINK WITH CSS FILE----- -->
    
    <title>Update</title>
</head>
<body>

    <div class="nav">
    <h1>TEST HEAD</h1>        
        {%for city in cities%}
        <h1><a href="/{{city.name}}/{{city.id}}">{{city.name}}</a></h1>
        {%endfor%}
        <div class="top_right">
            <p class="test_user_name">TEST USER NAME</p>            
            {% for user in users %}
            <p>Welcome {{user.name}}</p>
            {%endfor%}
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>|
                <li><a href="/city">Find your city</a></li>|
                <li><a href="/create">Report</a></li>|
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="bottom_section">
        <h1>TEST CITY NAME</span></h1>       
        <p>TEST REPORT INFO</p>
        <p>TEST POSTED BY:</p>        
        <div class="form_update_container">
            <form action="/" method="post" class="form">
                <h2 class="head_text">Update the situation</h2>
                <div class="form_group">
                    <label for="fact"><strong>Update details:</strong></label>
                    <textarea name="what_happened" id="what_happened" rows="5" cols="45"></textarea>
                </div>
                <div class="two_buttons">
                    <a href="/" class="cancel_button">Cancel</a>
                    <input type="submit" value="Submit" class="submit_button">
                </div>
            </form>                   
        </div>
    </div>

</body>
</html>