/* TOP SECTION */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: linear-gradient(to bottom, transparent, rgb(78, 122, 127)), url(https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg);
    background-position: center;
    background-size: cover;
    height: 715px;
    background-attachment: fixed;
}
h1{
    font-size: 40px;
}
h1 span {
    color: rgb(206, 127, 127);
}
.nav {
    background-color: rgb(78, 122, 127);
    height: 85px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-left: 20px;
    margin: 0px;
    padding: 20px solid;
    color: #ffffff;
}
ul {
    list-style-type: none;
}
a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
}
.top_right {
    display: table-column;
    justify-content: space-between;
    padding-right: 20px;
}
.user_name {
    padding-right: 10px;
    font-size: 18px;
    color: rgb(240, 161, 161);
    font-weight: bold;
}

/* --------------------------------------------------- */

/* BOTTOM SECTION */

.bottom_section {
    display:flex;
    justify-content: center;
    align-items: center;
}
.random_cities_top {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.random_cities_bottom {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.each_random_table {
    height: 260px;
    width: 320px;
    border-radius: 10px;
    background-color: rgb(210, 220, 222);
    opacity: 0.9;
    margin: 5px;
    padding: 20px;
    opacity: 0.9;
}
.each_two_reports {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.two_reports {
    display: flex;
    flex-direction: column;
}
.random_cities_images {
    height: 80px;
    width: 140px;
    border-radius: 3px;
}
.reports {
    color: #292424;
    font-size: 12px;
    margin: 0px;
    padding-left: 10px;
    font-family: monospace;
    opacity: 0.7;
    font-weight: bold;
}
h3 {
    margin: 0px;
    color: #ffffff;
    background-color: rgb(78, 122, 127);
    text-align: center;
    opacity: 0.8;
}
/* --------------------------------------------------- */

/* -----CITY PAGE----- */

.all_cities_top {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.all_cities_bottom {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.each_city {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(210, 220, 222);
    opacity: 0.9;
    margin: 10px;
}
.cities_images {
    height: 100px;
    width: 200px;
    border-radius: 3px;
    margin-top: 20px;
}
.city_name {
    color: #5b5656;
    background-color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    font-family: monospace;
}