body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}

.nav {
    background-color: rgb(162, 191, 224);
    height: 85px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-left: 20px;
    margin: 0px;
    padding: 20px solid;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
}


.nav-links {
    display: flex;
    justify-content: space-around;

}

.top_right {
    display: table-column;
    justify-content: space-between;
    padding-right: 20px;
}

.test_user_name {
    padding-right: 20px;
}